@media only screen {


	.contactform {
		position: fixed;
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		font-size: initial;
		text-align: center;
		opacity: 0;
		@include transition(opacity 0.5s ease);
		background-color: transparentize(black, 0.2);
	}

	.contactform-close {
		position: absolute;
		top: 15px;
		right: 15px;
		color: white;
		font-size: 2.4rem;
		padding: 5px;
	}
	.contactform--wrapper {
		display: inline-block;
		z-index: 11;
		background-color: transparentize($darkblue, 0.1);
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));
		max-width: 800px;
		width: 100%;
		padding: 80px 20px;
	}

	div.wpcf7 {
		margin-top: 40px;
		display: inline-block;
		width: 100%;
		border-radius: 1.5rem;
		input, textarea {
			&::placeholder {
				color: white;
				font-size: 1.6rem;
				font-weight: 300;
			}
			position: relative;
			width: 100%;
			max-height: 120px;
			padding: 1rem;
			background: none;
			border: 1px solid white;
			outline: none;
			resize: none;
			margin: 5px auto;
			color: white;
		}
		input[type = "submit"] {
			display: inline-block;
			width: auto;
			padding: 1rem 3rem;
			border-radius: 10px 0;

			font-weight: 900;
			font-size: 2rem;
			text-transform: uppercase;
			color: white;
		}
		// praise the glorious feedback 
		div.wpcf7-response-output {
			border: none;
			position: absolute;
			bottom: 5px;
			left: 0;
			right: 0;
			margin: 0 auto;
			color: transparentize(red, 0.5);
			font-family: Montserrat;
			font-size: 1.4rem;
			text-transform: uppercase;
		}
		// invalid replaced with ! 
		span.wpcf7-not-valid-tip {
			display: none !important;
		}
	}


	.contactform--reveal {
		display: inline-block !important;
	}
	.contactform--fade {
		opacity: 1;
	}

	.cf7-required-icon {
		position: absolute;
		top: 50%;
		right: 5%;
		@include transform(translateY(-50%));
		color: white;
	}

}