@media only screen {

	// wrap 'site' to viewport (fixed height)
	// create canvas layer above backgrounds
	#siteWrapper,
	#contentWrapper {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		overflow: hidden;
	}
	#siteWrapper {
		height: 225vh;
	}
	// Appx. height of sections
	section.content {
		position: relative;
		width: 100%;
		height: 100vh;
	}
	.section-main--wrapper {
		position: relative;
		display: inline-block;
		top: 50%;
		@include transform(translate(0, -50%));
		left: 0;
		width: 100%;
		text-align: left;
		// max-width: 1440px;
	}
	div.section-main {
		position: relative;
		max-width: 600px;
		font-size: initial;
		color: black;
		padding: 20px;
		display: inline-block;
		margin: 0 auto;
	}
	.section-main-title {
		display: inline-block;
		background-image: radial-gradient(circle at center, rgba(226, 204, 157, 1), rgba(226, 204, 157, 0));
		font-size: 4.6rem;
		text-align: left;
		text-transform: uppercase;
		font-weight: 100;
	}
	.section-main-content {
		background-image: radial-gradient(circle at center, rgba(226, 204, 157, 1), rgba(226, 204, 157, 0));
		text-align: left;
		margin: 20px auto;
		p {
			font-size: 1.8rem;
		}
	}	
	.section-main-contactme {
		position: relative;
		margin: 10px 0;
		display: inline-block;
		background-color: $darkblue;
		@include transform(skewX(-10deg));
		padding: 15px 30px;
		cursor: pointer;
		p {
			font-size: 2rem;
			color: transparentize(white, 0.33);
			@include transform(skewX(10deg));
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 700;
			@include transition(color 0.4s ease);
			&:hover {
				color: white;
			}
		}
	}
}
@media only screen and (min-width: $medium) {
	.section-main--wrapper {
		left: 10%;
	}
	.section-main-title {
		font-size: 7.2rem;
	}
	.section-main-content p {
		font-size: 2rem;
	}
	.section-main-contactme {
		p {
			font-size: 2.4rem;
		}
	}
}
@media only screen and (min-width: $large) {
	


}