@media only screen {
	nav.header {
		display: inline-block;
		position: absolute;
		z-index: 99;
		top: 0;
		left: 0;
		width: 100%;
		background-color: transparent;
		@include transition( background-color 0.4s ease);
	}
	ul.header-sitemeta {
		max-width: 1440px;
		margin: 0 auto;
		padding: 20px;
		a, a:visited {
			color: black;
		}
		li {
			font-size: 2.4rem;
			font-weight: 400;
			text-transform: uppercase;
			span {
				font-weight: 700;
				font-family: Montserrat;
			}
		}
		#siteDesc{
			font-size: 1.4rem;
			letter-spacing: 2px;
		}
	}
	ul.footer-siteMeta {
		position: absolute;
		bottom: 0;
		left: 0;
		display: inline-block;
		width: 100%;
		text-align: center;
		z-index: 3;
		li {
			position: relative;
			z-index: 4;
			text-align: left;
			display: inline-block;
			font-size: 1.2rem;
			color: white;
			padding: 20px;
			margin: 0 auto;
			width: 100%;
			max-width: 1440px;
		}
	}
}