/* 
	Parallax Scrolling BackGrounds
*/
@media only screen {

	/* Parallax Scrolling Section Container */
	section.section {
		display: inline-block;
		position: absolute;
		height: 150vh;
		top: -25vh;
		left: -25vw;
		width: 150vw;
		overflow: hidden;
		-webkit-backface-visibility: hidden; // anti-aliasing?
	}
	div.section-background {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0% 0%;
		z-index: -1;
		-webkit-backface-visibility: hidden; // anti-aliasing?
	}
	/* 
		Slanted Section
	*/
	section.section:last-of-type {
		@include transform(rotate(-7deg));
		top: 90vh;
		div.section-main,
		div.section-background {
			@include transform(rotate(7deg) translate3d(0));
		}
	}
	/* 
		Slanted Footer
	*/
	footer.footer {
		background-color: $darkblue;
		position: absolute;
		bottom: -120px;
		left: -25vw;
		width: 150vw;
		height: 240px;
		@include transform(rotate(7deg) translate(0, 0));
		z-index: 3;
	}
} // End Mobile MQ